<div class="row p-5">
  <div class="col col-md-6 col-sm-6">
    <div class="contact-card p-5">
      <div>Contact Me</div>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Email</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Leave a comment</mat-label>
          <textarea matInput rows="10"></textarea>
        </mat-form-field>
      </form>
      <div>
        <button class="contact-card p-2">SEND</button>
      </div>
    </div>
  </div>
  <div class="col col-md-6 col-sm-6">
    <div class="contact-card">
      <div class="contact-card p-5">
        <div class="mb-3">CONTACTS</div>
        <div class="contact-card p-5 mb-3">
          <span class="material-icons">
            perm_phone_msg
          </span>
          <p>Phone</p>
          <p>+91 - 9591696207</p>
        </div>

        <div class="contact-card p-5 mb-3">
          <span class="material-icons">
            mail
          </span>
          <p>Email</p>
          <a href="mailto:prasannakumarvelur@gmail.com">prasannakumarvelur@gmail.com</a>
        </div>

        <div class="contact-card p-5">
          <span class="material-icons">
            people
          </span>
          <p>Freelance available</p>
          <p>I'm available for freelance Hire.</p>
        </div>

      </div>

    </div>
  </div>
</div>
