  <mat-toolbar class="toolbar">
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
    <span>PK.</span>
    <span class="example-spacer"></span>

    <button mat-button aria-label="Button for Home" routerLink="home">
      HOME
    </button>

    <button mat-button aria-label="Button for Work" routerLink="work">
      WORK
    </button>
    <button mat-button aria-label="Button for Projects" routerLink="projects">
      PROJECTS
    </button>
    <button mat-button aria-label="Button for Contact" routerLink="contact">
      CONTACT
    </button>

    <mat-slide-toggle disabled=true labelPosition='before' color='primary'><span class="material-icons">
        ring_volume
      </span></mat-slide-toggle>
    <mat-slide-toggle disabled=true labelPosition='before' color='primary'><span class="material-icons">
        nightlight
      </span></mat-slide-toggle>

  </mat-toolbar>
  <router-outlet></router-outlet>
