<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">PK</a>
  <div class="spacer"></div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto align-items-center ">
      <div class="nav-item mx-2 ">
        <button class="nav-link custom-button" href="#">Home </button>
      </div>
      <div class="nav-item mx-2">
        <button class="nav-link custom-button" href="#">Projects</button>
      </div>
      <div class="nav-item mx-2">
        <button class="nav-link custom-button" href="#">Skills</button>
      </div>
      <div class="nav-item mx-2">
        <button class="nav-link custom-button" href="#">Contact Me</button>
      </div>
    </ul>

  </div>
</nav>