.content-card {
  width: auto;
  font-size: 30px;
  height: auto;
  line-height: initial;
  border-radius: 6px;
background: linear-gradient(45deg, #232323, #1e1e1e);
box-shadow:  20px -20px 40px #151515,
             -20px 20px 40px #2d2d2d;
}
